@font-face {
   font-family: "Hiragino Sans GB W3";
   src: url("3b2646a48566403a55f62ceddbecbe18.eot");
   /* IE9*/
   src: url("3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"),
      /* chrome、firefox */
      url("3b2646a48566403a55f62ceddbecbe18.woff") format("woff"),
      /* chrome、firefox */
      url("3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"),
      /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg");
   /* iOS 4.1- */
}



:root {
   --grCol1: rgb(247, 245, 245);
   --grCol2: #ffffff;
   --grCol3: rgb(236, 235, 235);
   --grCol4: rgb(247, 245, 245);
   --svg: rgb(204, 201, 201);
   --gradient: radial-gradient(var(--grCol1), var(--grCol3), var(--grCol4));

}

html {
   scroll-behavior: smooth;
   padding: 0;
   font-size: 1.7vh;
   font-size-adjust: none;
   height: -webkit-fill-available;

}

body {
   width: 100%;
   height: 100vh;
   max-height: -webkit-fill-available;
   text-rendering: optimizeLegibility;
   box-sizing: border-box;

}


/* mobile styles remove */

.mobile-logo,
.back_home,
.press__mobile,
.about__mobile,
.mobile__header-controls {
   display: none;
}


/* home styles */

.container {

   width: 300vw;
   height: 300vh;
   position: fixed;
   top: 0;
   left: 0;
   transform: translate(0, 0, 0);
   transition: transform 1s;

}

.test-bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.test-bg img {
   width: 100%;
   height: 100%;
}


/* landing */

.home-container {
   /* border: solid 5px green; */
   width: 100vw;
   height: 100vh;

}

.bg-home {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('/img/Home/Asset-3.jpg');
   background-size: cover;

}


.bg-move {
   animation: fade 6s ease-in alternate infinite;
   -webkit-animation: fade 6s ease-in alternate infinite;
}

.text-fade {
   animation: color-text 6s ease-out alternate infinite;
   -webkit-animation: color-text 6s ease-out alternate infinite;
}


@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes color-text {
   from {
      color: black;
   }

   to {
      color: white;
   }

}

/* landing pg buttons */
.nav-button-h {
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 20vh;
   width: 100vw;
   top: 40%;
   z-index: 100;
   font-family: Helvetica, sans-serif;
   font-size: 2rem;
}

#pressbtn {

   align-self: center;
   transform: rotate(-90deg);
   font-weight: bold;
   cursor: pointer;

}

#aboutbtn {

   align-self: center;
   transform: rotate(90deg);
   font-weight: bold;
   cursor: pointer;
}

#logo-center {
   font-size: 4rem;
   line-height: 20vh;
   letter-spacing: 1rem;
   margin-top: 0vh;
   font-weight: bold;
}

.nav-button-v {
   /* border: 1px solid green; */
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90vh;
   width: 10vw;
   top: 5vh;
   left: 44vw;
   text-align: right;
   z-index: 10;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 2rem;
   transition: 0.3s ease;
}


#colbtn {
   outline: none;
   background: none;
   text-decoration: none;
   cursor: pointer;
   align-self: center;
}

#projbtn {
   outline: none;
   background: none;
   text-decoration: none;
   cursor: pointer;
   align-self: flex-start;
}

/* press page */

.press-container {

   width: 90vw;
   height: 100vh;
   position: absolute;
   left: 100vw;
   top: 0;
   display: flex;
   justify-content: space-around;
   overflow-y: scroll;
   box-shadow: -10px 0px 10px 1px #aaaaaa;

}


.img-grid {

   width: 70vw;
   height: 88vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   padding: 2rem;
   margin-top: 2vh;
   margin-left: -10vw;

}

.img-grid::-webkit-scrollbar {
   background-color: transparent;
}

.press-info {
   width: 20vw;
   height: 50vh;
   padding: 1.5rem;


}

.card {
   position: relative;
   width: 100%;
   height: 100%;
   border: 1px solid black;

}

/* card front styling */


.front {

   position: absolute;
   width: 100%;
   height: 100%;
   transition: opacity 1s;
   display: block;


}


.front img {
   width: 100%;
   height: 100%;
}



/* card back styling */

.back {
   opacity: 0.5;
   background: grey;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
}


.card:hover .back {

   z-index: 100;
}

/* .face.back:hover {
   background-position: left;

} */



/* card link styling */

.face.back a {
   text-transform: uppercase;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.8rem;
   display: block;
   color: white;
   padding: 2rem;
   left: -5vw;
   text-decoration: none;

}

.face.back a:hover {
   color: black;
}


.face.back a span {
   font-size: 2rem;
}

/* contact dropdown */

.fixed-wrapper {
   position: fixed;
   left: 173vw;
   top: 5vh;
   display: block;
   width: 15vw;
   height: 50vh;
   overflow: visible;

}

.contact-wrapper {
   font-family: Helvetica, sans-serif;
   height: 20vh;
   letter-spacing: 3px;
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   overflow: visible;
   text-transform: uppercase;
}



.contactbtn {
   color: black;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;
   float: right;

}

.contactbtn:hover {
   opacity: 0.6;
}

.contact-wrapper ul {
   position: absolute;
   margin-left:-4rem;
   margin-top: 5vh;
   color: black;
   width: 15vw;
   height: 20vh;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   list-style: none;
   text-transform: uppercase;
   font-size: 1rem;
   text-align: right;
   opacity: 0;
   transform: translateY(-10px);
   transition: all 0.4s ease;
   -webkit-transform: translateY(-10px);
   -webkit-transition: all 0.4s ease;
   -moz-transform: translateY(-10px);
   -moz-transition: all 0.4s ease;

}

.contact-wrapper ul li a {
   text-align: right;
}


.contact-wrapper a:hover {

   background-color: var(--grCol3);
}




/* about page contact */

.contact-a {
   position: absolute;
   top: 5vh;
   left: 5vw;
   font-family: Helvetica, sans-serif;
   height: 10vh;
   letter-spacing: 3px;
   color: white;
}

.contact-a a:hover {

   background-color: black;
}

.contactbtn-a {
   color: white;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;
   float: right;

}

.contactbtn-a:hover {
   opacity: 0.6;
}


.contact-a ul {
   position: absolute;
   margin-left:-4rem;
   margin-top: 5vh;
   color: black;
   width: 15vw;
   height: 20vh;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   list-style: none;
   text-transform: uppercase;
   font-size: 1rem;
   opacity: 0;
   transform: translateY(-10px);
   transition: all 0.4s ease;
   -webkit-transform: translateY(-10px);
   -webkit-transition: all 0.4s ease;
   -moz-transform: translateY(-10px);
   -moz-transition: all 0.4s ease;

}

.contact-wrapper a,
.contact-a a {
   text-decoration: none;
}

.contact-a ul {
   /* align-items: flex-start;
   left: 0; */
   color: white;
}

.contact-a a {
   color: white;
}

/* about page */

.about-container {
   /* border: solid 2px purple; */
   width: 90vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: -90vw;
   box-shadow: 10px 0px 10px 1px #aaaaaa;
}

.textSection {

   max-width: 35vw;
   height: 90vh;
   position: relative;
   top: 5vh;
   left: 48vw;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: solid 2px purple; */

}

.about {

   position: absolute;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   transition: all 1s;
   text-indent: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 4rem 2rem;
}

.transparent {
   opacity: 0;
}

.eng {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.1rem;
   line-height: 1.6;
   text-align: justify;
   color: black;


}

.mandarin {

   font-family: "Hiragino Sans GB W3" !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 1.1rem;
   line-height: 2;
   text-align: justify;
   text-transform: uppercase;
   font-weight: bold;
   color: black;
   padding: 3rem;
}


.langChange {
   position: absolute;
   font-size: 2rem;
   left: 84vw;
   top: 88vh;
   color: black;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;

}

.langChange:hover {
   opacity: 0.6;
   transform: translateY(5px);
}



.stockist {
   position: absolute;
   top: 5vh;
   left: 20vw;
   font-family: Helvetica, sans-serif;
   height: 10vh;
   letter-spacing: 3px;
   color: white;

}

.stockistbtn {
   color: white;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;

}

.stockistbtn:hover {
   opacity: 0.6;
}

.stockist ul {
   position: absolute;
   left: -4rem;
   margin-top: -4vh;
   width: 8vw;
   height: 10vw;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   list-style: none;
   text-transform: uppercase;
   font-size: 1rem;
   white-space: nowrap;
   opacity: 0;
   transform: translateY(-10px);
   transition: all 0.4s ease;
   -webkit-transform: translateY(-10px);
   -webkit-transition: all 0.4s ease;
   -moz-transform: translateY(-10px);
   -moz-transition: all 0.4s ease;
}

.stockist p {
   color: white;
   text-decoration: none;
}

.stockist p:hover {
   background-color: black;
}

.menu-container:hover .menu {
   opacity: 1;
   pointer-events: all;
   transform: translateY(0);
   -moz-transform: translateY(0);
   -webkit-transform: translateY(0);
   outline: none;
}



.crossfade {
   /* border: 1px solid orange; */
   position: relative;
   width: 42vw;
   height: 100vh;
   left: 0;
   padding: 0;
   margin: 0;
   top: -90vh;
   z-index: -1;
}


.crossfade img {
   width: 100%;
   height: 100%;
   position: absolute;
   transition: opacity .5s ease-in;

}

.crossfade img+img {
   opacity: 0;
}


/* Projects page */

.projects-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   scroll-behavior: smooth;
   overflow: hidden;
}


.projects-container nav {

   width: 80vw;
   height: 8vh;
   position: fixed;
   display: block;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.projects-container a {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.2rem;
   text-decoration: none;
   text-transform: uppercase;
   transition: all 1s;
}

.link-color {
   color: black;
}

.proj__nav {
   width: 45vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.projects-main {
   width: 100vw;
   height: 100vh;
   display: flex;
   scroll-behavior: smooth;

}

#archiveFilms {
   background-color: white;
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}


.vid-nav {
   position: relative;
   height: 5vh;
   width: 100%;
   display: flex;
   margin: 0 auto;
   padding-top: 2rem;
}

.carousel__slide-text {
   width: 100%;
   font-family: Helvetica, sans-serif;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.1rem;
   transition: opacity 1s;

}


.vid-nav span {
   cursor: pointer;
   font-size: 1.1rem;
}

.play {
   padding-right: 1rem;
}

.blinking {
   animation: blinkingAudio 1.2s infinite;
}

@keyframes blinkingAudio {
   0% {
      color: #000;
   }

   49% {
      color: #000;
   }

   60% {
      color: transparent;
   }

   99% {
      color: transparent;
   }

   100% {
      color: #000;
   }
}

.carousel {
   position: relative;
   height: 75vh;
   width: 75%;
   margin: 0 auto;

}

.carousel__video {
   width: 100%;
   height: auto;
   object-fit: cover;
}

.carousel__track-container {
   height: 100%;
   position: relative;
   overflow: hidden;
}

.carousel__track {
   padding: 0;
   margin: 0;
   height: 100%;
   list-style: none;
   transition: transform 250ms ease-in;
   -webkit-transition: transform 250ms ease-in;
   -moz-transition: transform 250ms ease-in;

}

.carousel__slide {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
}

.carousel__button {
   position: absolute;
   top: 50%;
   background: transparent;
   border: 0;
   font-size: 3rem;
}

.carousel__button--left {
   left: -6vw;
   display: none;
}

.carousel__button--right {
   left: 80vw;
}

#soundDY {
   background-color: white;
   min-width: 100vw;
   min-height: 100vh;
}

.container__sound {
   width: 100%;
   height: 80vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}



.container__audio {
   width: 30vw;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border: 3px solid black;
   padding: 2rem;


}

.container__header {
   font-family: Helvetica, sans-serif;
   font-size: 1.5rem;
   text-transform: uppercase;
   color: black;
   letter-spacing: 0.2rem;

}

audio {
   width: 30vw;

}



.container__credit {
   margin-top: 15vh;
   width: 25vw;
   height: auto;
   padding: 3rem;
   border: 3px solid black;
}

.container__credit p {
   font-family: Helvetica, sans-serif;
   font-size: 1rem;
   font-weight: bold;
   align-self: flex-end;
   text-transform: capitalize;
   color: black;
   line-height: 2;
}

#soundDS {
   background-color: white;
   min-width: 100vw;
   min-height: 90vh;
}

.active-proj {
   background-color: black;
   color: var(--grCol3);
}

/* collections page */


.col {
   overflow-y: hidden;
}

.col::-webkit-scrollbar {
   /* display: block; */
}


.nav-container {
   position: fixed;
   margin: 0px;
   z-index: 100;
}

.nav-bar {
   width: 80vw;
   height: 4vh;
   left: 10vw;
   position: absolute;
   top: 5vh;
   text-transform: uppercase;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
}

.nav-bar a {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1rem;
   text-decoration: none;
   height: 2vh;
   transition: all 1s;
   padding: 4px 4px 0px 4px;

}

.nav-bar a.active {
   background-color: black;
   color: white;

}

.white-links {
   color: white;
}


.black-links {
   color: black;
}

.tab:hover {
   cursor: pointer;
   opacity: 0.6;
}

.info {
   width: 90vw;
   height: 10vh;
   left: 4vw;
   position: absolute;
   top: 85vh;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   z-index: 100;
}

.info a {
   font-family: Helvetica, sans-serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 1.2rem;
   text-decoration: none;
   transition: all 1s;
   padding: 0 0.5rem 0 0.5rem;
}

.text {
   width: 30%;
   display: flex;
   justify-content: space-around;
}

.user-border {
   border: 1px solid white;
}

.tab-content {
   position: absolute;
   left: 0;
   top: 0;
   z-index: -10;
   scroll-behavior: smooth;
   overflow-x: visible;
   overflow-y: hidden;
   display: flex;

}

.fade-in {

   opacity: 0;
   transform: translateY(15%);
   transition:
      opacity 250ms ease-in,
      transform 400ms ease-in;

}

.fade-in.appear {
   opacity: 1;
   transform: translateY(0);
}


.control {
   position: absolute;
   height: 100px;
   left: 5vw;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 2rem;
   z-index: 200 !important;


}

#audio {
   font-size: 1.3rem;
   border: none;
   color: #ffffff;
   background: transparent;
   cursor: pointer;
   transition: all 1s;
}

#pause {
   cursor: pointer;
   transition: all 1s;
}

#show {
   width: 100vw;
   height: 100vh;
}

.video-wrapper {
   width: 100vw;
   height: 100vh;
}

#catwalk {
   object-fit: cover;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

}

#about {
   width: 220vw;
   height: 100vh;

}

.about-text {
   width: 100%;
   height: 100%;
   text-align: left;
   font-family: Helvetica, sans-serif;
   display: flex;
   align-items: center;
}

.about-text p {
   padding: 8rem;
   width: 50vw;
   font-size: 1.2rem;
   text-align: left;
   text-indent: 10%;

}

.about-body {
   font-size: 1.3rem;
   display: flex;
   justify-content: space-between;
}

.proj-header {
   width: 40vw;
   margin-left: 3em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#researchFilm {
   width: 120vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;


}

#researchFilm-ba {
   width: 190vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;


}

#researchFilm-ba,
#researchFilm p {
   font-size: 1rem;
   font-family: Helvetica, sans-serif;
   font-style: italic;
   margin-bottom: 1rem;

}

.video-wrapper2 {

   width: 50vw;
   margin-right: 30vw;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;

}


.credit-icon {
   background: transparent;
   color: black;
   padding: 16px;
   font-size: 2rem;
   font-family: Helvetica, sans-serif
}

.credit {
   position: relative;
   display: inline-block;
   align-self: flex-start;
   padding-top: 6rem;
   margin-left: -20vw;

}

.credit-ba {
   position: relative;
   display: inline-block;
   align-self: flex-start;
   padding-top: 5rem;
   margin-left: 15vw;
   border: none;
}

.credit-text {
   display: none;
   position: absolute;
   border: solid 2px black;
   min-width: 4rem;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.credit-text p {
   font-family: Helvetica, sans-serif;
   font-size: 1rem !important;
   font-weight: bold;
   line-height: 1.2;
   font-style: normal !important;
   padding: 1rem;
   width: 20vw;
   height: 63vh;
}

.credit:hover .credit-text,
.credit-ba:hover .credit-text {
   display: block;
}



#mood-ma {
   width: 100%;
   height: auto;
}

.video-wrapper-ba {
   width: 55vw;
   height: 60vh;
   margin-right: 2vw;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mood, .mood2 {
   width: 100% !important;
   height: auto !important;
}


#stills {
   width: 260vw;
   height: 100vh;
}

#stills-ba {
   width: 200vw;
   height: 100vh;
}

.stills {
   display: flex;
   width: 100%;
   height: 100%;

}

.stills-ba {
   display: flex;
   width: 100%;
   height: 100%;

}

.still-wrapper {
   width: 80vw;
   height: 100vh;
   overflow: hidden;
}

.inner-img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
   transition: 0.3s;
}

.inner-img:hover {
   transform: scale(1.1);
}

.still-wrapper-ba {
   position: relative;
   left: 5vw;
   width: 33vw;
   height: 100vh;
}

.front-img {
   position: absolute;
   top: 0;
   left: 0;
   height: auto;
   width: 100%;
   transition: opacity ease 250ms;

}

.back-img {
   position: absolute;
   top: 0;
   left: 0;
   height: auto;
   width: 100%;
   opacity: 1;
   z-index: -5;
}

.front-img:hover {
   opacity: 0;
}

#lookbook {
   width: 100vw;
   height: 100vh;
}

.lookbook-nav {
   width: 70vw;
   height: 10vh;
   margin-left: 15vw;
   margin-top: 45vh;
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

button {
   border: none;
   outline: none;
   background: transparent;
   font-size: 2rem;
   /* font-weight: bold; */
   cursor: pointer;
}

.lookbook-nav button {
   border: none;
   outline: none;
   background: transparent;
   font-size: 2rem;
   /* font-weight: bold; */
   cursor: pointer;
}

button:hover {
   opacity: 0.4;
}

.lookbook {
   width: 56vw;
   height: 91vh;
   margin: auto;
   overflow: hidden;
}

.lookbook img {
   width: 100%;
   height: auto !important;
}

.slider {
   margin-top: 10vh;
   display: flex;
   /* align-items: flex-end; */
   width: auto;
   /* height: 700px; */
}

.capsule-wrapper {
   width: 100vw;
   height: 100vh;
   /* background: black; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.capsule-wrapper h1 {
   color: black;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
}


/* open other pages */

.openPress {
   -webkit-transform: translate3d(90vw, 0, 0);
   transform: translate3d(90vw, 0, 0);
   transition: transform 1s;
}

.openAbout {
   -webkit-transform: translate3d(-90vw, 0, 0);
   transform: translate3d(-90vw, 0, 0);
   transition: transform 1s;
}