/* variables */
:root {
    --grCol1: #ffffff;
    --grCol2: #E1E1E1;
    --grCol3: #B4B4B4;
    --grCol4: rgb(143, 143, 143);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    text-rendering: optimizeLegibility;
    box-sizing: border-box;

}

.container {
    /* border: solid 1px red; */
    width: 300vw;
    height: 300vh;
    position: fixed;
    /* z-index: 10; */
    top: 0;
    left: 0;
    transform: translate(0, 0, 0);
    transition: transform 1s;

}

.test-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.test-bg img {
    width: 100%;
    height: 100%;
}


/* landing */

.home-container {
    /* border: solid 5px green; */
    width: 100vw;
    height: 100vh;
    /* transform: translate(-100vw, 0); */

}

.bg-home {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

.bg-home img {
    width: 100%;
    height: 100%;
}

.bg-move {
    animation: fade 6s ease-out alternate infinite;
}

.text-fade {
    animation: color-text 6s ease-out alternate infinite;
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes color-text {
    from {
        color: black;
    }

    to {
        color: white;
    }

}

.logo-center {
    position: absolute;
    display: flex;
    display: inline-block;
    top: 45vh;
    left: 39vw;

}

.logo-center p {
    font-family: Helvetica, sans-serif;
    font-size: 4rem;

}


/* landing pg buttons */
.nav-button-h {
    /* border: solid 1px red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    top: 40%;
    left: 0.5rem;
    z-index: 100;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    /* transition: */
}

#pressbtn {

    align-self: center;
    transform: rotate(-90deg);
    font-weight: bold;
    cursor: pointer;

}

#aboutbtn {

    align-self: center;
    transform: rotate(90deg);
    font-weight: bold;
    cursor: pointer;
}

#logo-center {
    font-size: 4rem;
    line-height: 20vh;
    letter-spacing: 1rem;
    font-weight: bold;
}

.nav-button-v {
    /* border: solid 1px red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 10vw;
    top: 5vh;
    left: 15%;
    text-align: right;
    z-index: 10;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#colbtn {
    cursor: pointer;
    align-self: flex-end;
}

#projbtn {
    align-self: flex-end;
    cursor: pointer;
}

/* press page */

.press-container {
    /* border: solid 2px blue; */
    width: 90vw;
    height: 100vh;
    position: absolute;
    left: 100vw;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.img-grid {
    /* border: 1px green solid; */
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2rem;
    overflow: scroll;
    overflow-x: hidden;


}

.img-grid::-webkit-scrollbar {
    background-color: transparent;
}

.press-info {
    width: 350px;
    height: 460px;
    padding: 1.5rem;
    perspective: 1000;

    /* animation: opacity linear 1s; */
    /* border: 1px solid grey; */
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.press-info:hover .card {
    transform: rotateY(-180deg);
}

.press-info p {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.front img {
    width: 100%;
    height: 100%;
}

.face.back {
    border: solid 1px black;
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 2rem;
    color: black;
    text-align: center;
    background-color: transparent;
}


.contact {
    /* border: solid 1px green; */
    width: 5vw;
    height: 30vh;
    display: inline-block;
    position: relative;
    font-size: 3rem;
    padding: 0.5rem;
    right: 0;

}

.icon {
    border: solid black 2px;
    text-align: center;
}

.ig {
    font-size: 2rem;
}

.phone p::before {
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: red;
    width: 30px;
    height: 60px;
}


/* about page */

.about-container {
    border: solid 2px purple;
    width: 90vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 90vw;

}

/* collections page */

.collection-container {
    border: solid 2px black;
    background: url("72ppi/Asset 3.png");
    background-size: 100% 100%;
    width: 100vw;
    height: 90vh;
    position: absolute;
    left: 0;
    top: -90vh;

}

/* projects container */
.projects-container {
    /* border: solid 2px orange; */
    width: 100vw;
    height: 90vh;
    position: absolute;
    left: 0;
    top: 100vh;
    background: url('72ppi/Asset\ 3.png');
    background-size: 100% 100%;
}

/* open other pages */

.openPress {
    -webkit-transform: translate3d(90vw, 0, 0);
    transform: translate3d(90vw, 0, 0);
    transition: transform 1s;
}

.openAbout {
    -webkit-transform: translate3d(-90vw, 0, 0);
    transform: translate3d(-90vw, 0, 0);
    transition: transform 1s;
}

.openCollection {
    -webkit-transform: translate3d(0, 90vh, 0);
    transform: translate3d(0, 90vh, 0);
    transition: transform 1s;
}

.openProjects {
    -webkit-transform: translate3d(0, -90vh, 0);
    transform: translate3d(0, -90vh, 0);
    transition: transform 1s;
}