/* variables */
@font-face {
   font-family: "Hiragino Sans GB";
   src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot");
}

:root {
   --grCol1: rgb(247, 245, 245);
   --grCol2: #ffffff;
   --grCol3: rgb(236, 235, 235);
   --grCol4: rgb(247, 245, 245);
   --svg: rgb(204, 201, 201);
   --gradient: radial-gradient(var(--grCol1), var(--grCol3), var(--grCol4));
}

* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   height: 100%;
   text-rendering: optimizeLegibility;
   box-sizing: border-box;

}

/* home styles */

.container {

   width: 300vw;
   height: 300vh;
   position: fixed;
   /* z-index: 10; */
   top: 0;
   left: 0;
   transform: translate(0, 0, 0);
   transition: transform 1s;

}

.test-bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.test-bg img {
   width: 100%;
   height: 100%;
}


/* landing */

.home-container {
   /* border: solid 5px green; */
   width: 100vw;
   height: 100vh;
   /* transform: translate(-100vw, 0); */

}

.bg-home {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;

}

.bg-home img {
   width: 100%;
   height: 100%;
}

.bg-move {
   animation: fade 6s ease-in alternate infinite;
}

.text-fade {
   animation: color-text 6s ease-out alternate infinite;
}


@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes color-text {
   from {
      color: black;
   }

   to {
      color: white;
   }

}

.logo-center {
   position: absolute;
   display: flex;
   display: inline-block;
   top: 45vh;
   left: 39vw;

}

.logo-center p {
   font-family: Helvetica, sans-serif;
   font-size: 4rem;

}


/* landing pg buttons */
.nav-button-h {
   /* border: solid 1px red; */
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 20vh;
   width: 100vw;
   top: 40%;
   left: 0.5rem;
   z-index: 100;
   font-family: Helvetica, sans-serif;
   font-size: 2rem;
}

#pressbtn {

   align-self: center;
   transform: rotate(-90deg);
   font-weight: bold;
   cursor: pointer;

}

#aboutbtn {

   align-self: center;
   transform: rotate(90deg);
   font-weight: bold;
   cursor: pointer;
}

#logo-center {
   font-size: 4rem;
   line-height: 20vh;
   letter-spacing: 1rem;
   font-weight: bold;
}

.nav-button-v {

   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90vh;
   width: 10vw;
   top: 5vh;
   left: 45vw;
   text-align: right;
   z-index: 10;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 2rem;
}

#colbtn {
   outline: none;
   background: none;
   text-decoration: none;
   cursor: pointer;
   align-self: flex-end;
}

#projbtn {
   align-self: flex-end;
   cursor: pointer;
}

/* press page */

.press-container {

   width: 90vw;
   height: 100vh;
   position: absolute;
   left: 100vw;
   top: 0;
   display: flex;
   justify-content: space-around;

   box-shadow: -10px 0px 10px 1px #aaaaaa;

}


.img-grid {

   width: 70vw;
   height: 88vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   padding: 2rem;
   margin-top: 2vh;
   c
}

.img-grid::-webkit-scrollbar {
   background-color: transparent;
}

.press-info {
   width: 350px;
   height: 460px;
   padding: 1.5rem;


}

.card {
   position: relative;
   width: 100%;
   height: 100%;
   border: 1px solid black;

}

/* card front styling */


.front {

   position: absolute;
   width: 100%;
   height: 100%;
   transition: opacity 1s;
   display: block;


}


.front img {
   width: 100%;
   height: 100%;
}



/* card back styling */

.back {
   opacity: 0.5;
   background: grey;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;


}


.card:hover .back {
   /* display: block; */
   z-index: 100;
}

.face.back:hover {
   background-position: left;

}



/* card link styling */

.face.back a {
   text-transform: uppercase;
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.8rem;
   display: block;
   color: white;
   padding: 2rem;
   left: -5vw;
   text-decoration: none;

}

.face.back a:hover {
   color: black;
}


.face.back a span {

   font-size: 2rem;
}

/* contact dropdown */

.contact {
   position: relative;
   top: 5vh;
   right: 0;
   font-family: Helvetica, sans-serif;
   height: 10vh;
   letter-spacing: 3px;

}

.contactbtn {
   color: black;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;

}

.contactbtn:hover {
   opacity: 0.6;
}

.contact ul,
.contact-a ul {
   position: absolute;
   left: -10vw;
   margin-top: 20px;
   width: 300px;
   height: 150px;
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   list-style: none;
   text-transform: uppercase;
   font-size: 1rem;
   opacity: 0;
   pointer-events: none;
   transform: translateY(-10px);
   transition: all 0.4s ease;
}

.contact a,
.contact-a a {
   color: black;
   text-decoration: none;
}

.contact a:hover,
.contact-a a:hover {
   /* opacity: 0.6; */
   background-color: var(--grCol3);
}

.contactbtn:focus+ul {
   opacity: 1;
   pointer-events: all;
   transform: translateY(0);
   outline: none;
}

/* about page contact */

.contact-a {
   position: absolute;
   top: 5vh;
   left: 5vw;
   font-family: Helvetica, sans-serif;
   height: 10vh;
   letter-spacing: 3px;
   color: var(--grCol3);
}

.contact-a ul {
   align-items: flex-start;
   left: 0;
}

/* about page */

.about-container {
   /* border: solid 2px purple; */
   width: 90vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: -90vw;
   /* box-shadow: 10px 0 5px -3px #888; */
   box-shadow: 10px 0px 10px 1px #aaaaaa;
}

.textSection {

   width: 35vw;
   height: 90vh;
   position: relative;
   top: 5vh;
   left: 47vw;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: solid 2px purple; */

}

.about {

   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   box-sizing: border-box;
   transition: all 1s;
   text-indent: 1.5em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 4rem 2rem;
}

.transparent {
   opacity: 0;
}

.eng {
   /* background: url("72ppi/Asset\ 3.png");
   background-size: 100% 100%; */
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.1rem;
   line-height: 1.6;
   text-align: justify;
   /* text-transform: uppercase; */
   color: black;


}

.mandarin {

   font-family: Hiragino Sans GB;
   font-size: 1.1rem;
   line-height: 2;
   text-align: justify;
   text-transform: uppercase;
   font-weight: bold;
   color: black;
   padding: 3rem;
   /* border: solid 2px black; */
}


.langChange {
   position: absolute;
   font-size: 2rem;
   left: 84vw;
   top: 88vh;
   color: black;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;

}

.langChange:hover {
   opacity: 0.6;
   transform: translateY(5px);
}

.stockist {
   position: relative;
   display: inline;
   top: -85vh;
   right: -20vw;
   font-family: Helvetica, sans-serif;
   height: 10vh;
   letter-spacing: 3px;

}

.stockistbtn {
   color: black;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: bold;
   background: none;
   border: none;
   text-decoration: none;
   cursor: pointer;
   outline: none;

}

.stockistbtn:hover {
   opacity: 0.6;
}

.stockist ul {
   position: absolute;
   left: -10vw;
   margin-top: 20px;
   width: 300px;
   height: 150px;
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   list-style: none;
   text-transform: uppercase;
   font-size: 1rem;
   opacity: 0;
   pointer-events: none;
   transform: translateY(-10px);
   transition: all 0.4s ease;
}

.stockist p {
   color: black;
   text-decoration: none;
}

.stockist p:hover {
   background-color: var(--grCol3);
}

.stockistbtn:focus+ul {
   opacity: 1;
   pointer-events: all;
   transform: translateY(0);
   outline: none;
}

.about-img {
   position: absolute;
   top: 0;
   left: 0;
   width: 40vw;
   height: 100vh;
   background: url("72ppi/SHEKYENLEUNG_PORTRAIT_150DPI.jpg");
   background-size: 100% 100%;
   z-index: -10;

}

/* collections page */



.main-info {
   /* border: solid 1px purple; */
   background-color: transparent;
   height: 100vh;
   overflow: hidden;
}

.nav-container {
   position: fixed;

}

.nav-bar {
   width: 80vw;
   height: 10vh;
   /* border: 1px solid green; */
   left: 10vw;
   position: absolute;
   top: 5vh;

}

.nav-bar ul {

   text-transform: uppercase;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
}

.tab a {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1rem;
   color: black;
   text-decoration: none;
}

.tab:hover {
   cursor: pointer;
   opacity: 0.6;
}

.tab.active {
   background-color: whitesmoke;
}



.info {
   width: 90vw;
   height: 10vh;
   /* border: 1px solid red; */
   left: 5vw;
   position: absolute;
   top: 80vh;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.info a {
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   font-size: 1.1rem;
   color: black;
   text-decoration: none;
   border: 1px solid teal;
}

.text {

   width: 30%;
   display: flex;
   justify-content: space-between;
}

.tab-content {
   border: 1px solid teal;
   position: absolute;
   left: 0;
   top: 0;
   height: 100vh;
   z-index: -11;
   display: flex;
   flex: row nowrap;
   justify-content: flex-start;


}


[data-tab-content] {
   border: 1px solid blueviolet;
   background-color: violet;
   font-size: 3rem;
   color: blue;
   scroll-behavior: smooth;
   display: none;

}

.active[data-tab-content] {
   display: block;
}

#show {
   width: 100vw;
   height: 100vh;

}

#about {
   width: 100vw;
   height:100vh;
}

#lookbook {
   width: 100vw;
   height:100vh;
}

#process {
   width: 100vw;
   height:100vh;
}



/* projects container */
.projects-container {
   /* border: solid 2px orange; */
   width: 100vw;
   height: 90vh;
   position: absolute;
   left: 0;
   top: 100vh;
   background: url('72ppi/Asset\ 3.png');
   background-size: 100% 100%;
}

/* open other pages */

.openPress {
   -webkit-transform: translate3d(90vw, 0, 0);
   transform: translate3d(90vw, 0, 0);
   transition: transform 1s;
}

.openAbout {
   -webkit-transform: translate3d(-90vw, 0, 0);
   transform: translate3d(-90vw, 0, 0);
   transition: transform 1s;
}

/* .openCollection {
   -webkit-transform: translate3d(0, 90vh, 0);
   transform: translate3d(0, 90vh, 0);
   transition: transform 1s;
} */

.openProjects {
   -webkit-transform: translate3d(0, -90vh, 0);
   transform: translate3d(0, -90vh, 0);
   transition: transform 1s;
}